<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>General Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>AAA</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>Initials</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Your Initials</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>Watermark</string>
			<key>Title</key>
			<string>Watermark</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>AutoPlay</string>
			<key>Title</key>
			<string>Autoplay Clips &amp; Stills</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>5</string>
			<key>Key</key>
			<string>slideTime</string>
			<key>Title</key>
			<string>Slide Show Time (secs)     </string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>30</string>
			<key>Key</key>
			<string>skipValue</string>
			<key>Title</key>
			<string>Skip Value (secs)     </string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>showPresses</string>
			<key>Title</key>
			<string>Show Finger Presses</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Timecode</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Time Display Format</string>
			<key>Key</key>
			<string>Timecode</string>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>0</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Frame number</string>
				<string>Timecode</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Email Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>HTML</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>emailPDF</string>
			<key>Title</key>
			<string>Email Format</string>
			<key>Titles</key>
			<array>
				<string>HTML</string>
				<string>PDF</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>FCPXML</string>
			<key>Title</key>
			<string>Final Cut Pro XML</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>AvidExport</string>
			<key>Title</key>
			<string>Avid Locator File</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Server Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>Bonjour</string>
			<key>Title</key>
			<string>Network Mode</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>AutoDiscover</string>
			<key>Title</key>
			<string>Auto Discover</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>ServerIP</string>
			<key>Title</key>
			<string>IP Address</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>ServerPort</string>
			<key>Title</key>
			<string>Port Number</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
        <dict>
			<key>Title</key>
			<string>Viewing only, (No annotation or timecode support)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>LiveTranscode</string>
			<key>Title</key>
			<string>Live Transcode</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
